.slot-custom-search {
  position: relative;
  width: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  background-color: #192034;
  height: 50px;
  border-radius: 6px;
  cursor: pointer;
}
.slot-custom-search .slot-search-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slot-custom-search .slot-search-input .search-input {
  cursor: pointer;
  font-size: 16px;
}
.slot-custom-search .slot-search-input .search-input .selected {
  color: gray;
  font-size: 16px;
  font-weight: 600;
  color: #8f9ec8;
}
.slot-custom-search .slot-search-input .search-input .provider {
  font-family: "Proxima Regular", Helvetica;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  color: #4d5a7d;
}
.slot-custom-search .slot-search-input .search-arrow-icon .icon {
  width: 12px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: contain;
}
.slot-custom-search .search-input-content {
  position: absolute;
  top: 50px;
  width: 380px;
  height: 240px;
  right: 0px;
  z-index: 9999;
  margin-top: 10px;
  border-radius: 6px;
  background-color: #192034;
  display: flex;
  overflow: hidden;
  overflow-y: auto;
  padding: 10px;
  flex-direction: column;
}
.slot-custom-search .search-input-content .clear-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background: #1f283f;
  margin-bottom: 0;
  font-family: "Proxima Regular", Helvetica;
  font-weight: 600;
  cursor: pointer;
  color: #8f9ec8;
}
.slot-custom-search .search-input-content ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
}
.slot-custom-search .search-input-content ul li {
  display: inline-block;
  width: 50%;
  flex: 50%;
  padding: 0 !important;
  min-height: auto;
  color: #8f9ec8;
  cursor: pointer;
}
.slot-custom-search .search-input-content ul li .checkbox {
  color: #8f9ec8;
  font-weight: 600;
  font-size: 16px;
  display: inline-flex;
}
.slot-custom-search .search-input-content ul li .checkbox:before {
  top: 3px;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background: #1f283f;
  margin-right: 8px;
  vertical-align: middle;
}
.slot-custom-search .search-input-content ul li .checkbox.checked:before {
  background-color: #f7c829;
  background-image: url("../../assets/img/icons/checked.svg");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
}

.custom-filter-mobile .slot-search-input {
  display: none;
}
.custom-filter-mobile .slot-custom-search {
  height: 0;
  background-color: transparent;
}
.custom-filter-mobile .slot-custom-search .search-input-content {
  top: 0;
  width: 100%;
}
@media (max-width: 450px) {
  .custom-filter-mobile .slot-custom-search .search-input-content .prov_list ul li {
    width: 100%;
    flex: unset;
  }
}

/*# sourceMappingURL=dropdown.css.map */
