/* Error: expected selector.
 *      ,
 * 1204 | .status-cashback-btn",icon:"{
 *      |                     ^
 *      '
 *   header.scss 1204:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected selector.\a      \2577 \a 1204 \2502  .status-cashback-btn",icon:"{\a      \2502                      ^\a      \2575 \a   header.scss 1204:21  root stylesheet';
}
