.finances {
  display: flex !important;
  flex-direction: row;
  column-count: unset;
  li {
    flex: 1;
    padding: 0 6px;

    &:first-child {padding-left: 0}
    &:last-child { padding-right: 0}
  }

}