.withdraw-content {
  .close-btn {
    &:hover {
      cursor: pointer;
    }
  }
  .new-input-label {
    margin-bottom: 16px !important;

    .input-box {
      position: relative;

      label{
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        font-family: "Proxima Regular", Helvetica;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
        color: #8f9ec8;
        transition: all 0.15s linear;
      }

      input {
        display: flex;
        width: 100%;
        border-radius: 4px;
        background-color: #262e45;
        padding: 26px 16px 10px;
        height: 50px;
        border: none;
        font-family: "Proxima Regular", Helvetica;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
        color: #e6e9f1;
        transition: all 0.15s linear;
        &:focus {
          background-color: #2f3955;
          & + label {
            color: #8594c1;
            top: 17px !important;
            font-size: 12px;
          }
        }
        &:not([value=""]) + label {
          color: #8594c1;
          top: 17px !important;
          font-size: 12px;
        }
      }
    }

    .toggle-password {
      position: absolute;
      right: 16px;
      top: 19px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 19px;
      height: 17px;
      transition: all 0.15s linear;
      &.active {
        background-image: url("../../../assets/img/icons/view-on.svg");
      }
      &.hide {
        background-image: url("../../../assets/img/icons/view-off.svg");
      }
    }
    .characters-controll {
      display: block;
      margin: 6px 0 0 16px;
      font-family: "Proxima Regular", Helvetica;
      font-weight: 600;
      font-size: 12px;
      text-align: left;
      transition: all 0.15s linear;
      color: #8594c1;
      &.wrong {
        color: #b62752   !important;
      }
      &.success {
        color: #27b66c !important;
      }
    }
  }
}
