.forgot-password{
  color:#6c7eb1;
  font-size: 0.75rem;
}

.auth-modal {
  .forgot-password span:hover {cursor: pointer;color: #ffbc00;}

  span.forgot-password {
    color: #ffbc00;
    &:hover {cursor: pointer; color: #85ff29}
  }

  p.forgot-password {margin-top: 5px;margin-left: 5px}

  .select2 {outline: none;}
  .input-label {
    margin-bottom: 0 !important;

    label {
      top: 50% !important;
    }

    input:focus + label {
      top: 25%;
    }

    input:not([value=""]) + label {
      top: 25% !important;
    }

    select:not([value=""]) + label {
      top: 25% !important;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
      background: #181e2e;
    }
  }
  #phone {background: #181e2e;}
}

.aut-2fa {
  p {
    color: #828FB6;
    text-align: center;
  }
  .fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    input {
      background: #262E45;
      margin: 0 4px;
      width: 45px;
      height: 50px;
      border-radius: 4px;
      text-align: center;
      color: #fff;
      font-size: 25px;
    }
  }
  .opt-status {
    min-height: 30px;
    margin-top: 10px;
    text-align: center;
  }
  .countDown {
    padding: 5px 12px;
    text-align: right;
    .timeout {
      width: 25px;
      text-align: right;
      display: inline-block;
    }
    button {
      padding: 0 !important;
      background: unset !important;
      display: inline-block;
      height: 20px;
      margin-top: 10px;
      &:hover {
        cursor: pointer;
        color: #d6dbe9;
      }
    }
  }

}
