.forgot-password{
  color:#6c7eb1;
  font-size: 0.75rem;
}

.auth-modal {
  .forgot-password span:hover {cursor: pointer;color: #ffbc00;}

  span.forgot-password {
    color: #ffbc00;
    &:hover {cursor: pointer; color: #85ff29}
  }

  p.forgot-password {margin-top: 5px;margin-left: 5px}

  .select2 {outline: none;}
  .input-label {
    margin-bottom: 0 !important;

    label {
      top: 50% !important;
    }

    input:focus + label {
      top: 25%;
    }

    input:not([value=""]) + label {
      top: 25% !important;
    }

    select:not([value=""]) + label {
      top: 25% !important;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
      background: #181e2e;
    }
  }
  #phone {background: #181e2e;}
}

