@font-face {
	font-family: 'FiraGO', sans-serif;
	src: url('../fonts/firago/Roman/FiraGO-Thin.eot');
	src: url('../fonts/firago/Roman/FiraGO-Thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/firago/Roman/FiraGO-Thin.woff2') format('woff2'),
	url('../fonts/firago/Roman/FiraGO-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'FiraGO', sans-serif;
	src: url('../fonts/firago/Roman/FiraGO-Light.eot');
	src: url('../fonts/firago/Roman/FiraGO-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/firago/Roman/FiraGO-Light.woff2') format('woff2'),
	url('../fonts/firago/Roman/FiraGO-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'FiraGO', sans-serif;
	src: url('../fonts/firago/Roman/FiraGO-Regular.eot');
	src: url('../fonts/firago/Roman/FiraGO-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/firago/Roman/FiraGO-Regular.woff2') format('woff2'),
	url('../fonts/firago/Roman/FiraGO-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'FiraGO', sans-serif;
	src: url('../fonts/firago/Roman/FiraGO-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/firago/Roman/FiraGO-Medium.woff2') format('woff2'),
	url('../fonts/firago/Roman/FiraGO-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'FiraGO', sans-serif;
	src: url('../fonts/firago/Roman/FiraGO-SemiBold.eot');
	src: url('../fonts/firago/Roman/FiraGO-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/firago/Roman/FiraGO-SemiBold.woff2') format('woff2'),
	url('../fonts/firago/Roman/FiraGO-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'FiraGO', sans-serif;
	src: url('../fonts/firago/Roman/FiraGO-Bold.eot');
	src: url('../fonts/firago/Roman/FiraGO-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/firago/Roman/FiraGO-Bold.woff2') format('woff2'),
	url('../fonts/firago/Roman/FiraGO-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'FiraGO', sans-serif;
	src: url('../fonts/firago/Roman/FiraGO-ExtraBold.eot');
	src: url('../fonts/firago/Roman/FiraGO-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/firago/Roman/FiraGO-ExtraBold.woff2') format('woff2'),
	url('../fonts/firago/Roman/FiraGO-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'FiraGO', sans-serif;
	src: url('../fonts/firago/Roman/FiraGO-Heavy.eot');
	src: url('../fonts/firago/Roman/FiraGO-Heavy.eot?#iefix') format('embedded-opentype'),
	url('../fonts/firago/Roman/FiraGO-Heavy.woff2') format('woff2'),
	url('../fonts/firago/Roman/FiraGO-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}







@font-face {
	font-family: 'lbet-st';
	src: url('../fonts/lbet-st-light.woff2') format('woff2'),
	url('../fonts/lbet-st-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'lbet-st';
	src: url('../fonts/lbet-st-regular.woff2') format('woff2'),
	url('../fonts/lbet-st-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'lbet-st';
	src: url('../fonts/lbet-st-bold.woff2') format('woff2'),
	url('../fonts/lbet-st-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'lbet-st';
	src: url('../fonts/lbet-st-black.woff2') format('woff2'),
	url('../fonts/lbet-st-black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'lbet-mt';
	src: url('../fonts/lbet-mt-light.woff2') format('woff2'),
	url('../fonts/lbet-mt-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'lbet-mt';
	src: url('../fonts/lbet-mt-regular.woff2') format('woff2'),
	url('../fonts/lbet-mt-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'lbet-mt';
	src: url('../fonts/lbet-mt-bold.woff2') format('woff2'),
	url('../fonts/lbet-mt-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'lbet-mt';
	src: url('../fonts/lbet-mt-black.woff2') format('woff2'),
	url('../fonts/lbet-mt-black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}



@font-face {
	font-family: 'lbet-nus';
	src: url('../fonts/lbet-nus-light.woff2') format('woff2'),
	url('../fonts/lbet-nus-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'lbet-nus';
	src: url('../fonts/lbet-nus-regular.woff2') format('woff2'),
	url('../fonts/lbet-nus-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'lbet-nus-bold';
	src: url('../fonts/lbet-nus-bold.woff2') format('woff2'),
	url('../fonts/lbet-nus-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'lbet-nus';
	src: url('../fonts/lbet-nus-black.woff2') format('woff2'),
	url('../fonts/lbet-nus-black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}





@font-face {
	font-family: 'BPGArial';
	src: url('../fonts/bpg-arial/bpg-arial-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/bpg-arial/bpg-arial-webfont.woff') format('woff'), url('../fonts/bpg-arial/bpg-arial-webfont.ttf')  format('truetype'), url('../fonts/bpg-arial/bpg-arial-webfont.svg#BPGArial2010') format('svg');
	font-weight: normal;
	font-style: normal;
	unicode-range: U+10D0-10F0;
}
@font-face {
	font-family: 'BPGArial2010';
	src: url('../fonts/arial/BPGArial2010.eot?#iefix') format('embedded-opentype'),  url('../fonts/arial/BPGArial2010.woff') format('woff'), url('../fonts/arial/BPGArial2010.ttf')  format('truetype'), url('../fonts/arial/BPGArial2010.svg#BPGArial2010') format('svg');
	font-weight: normal;
	font-style: normal;
	unicode-range: U+10D0-10F0;
}

@font-face {
	font-family: 'BPGArialCaps2010';
	src: url('../fonts/arial/BPGArialCaps2010.eot?#iefix') format('embedded-opentype'),  url('../fonts/arial/BPGArialCaps2010.woff') format('woff'), url('../fonts/arial/BPGArialCaps2010.ttf')  format('truetype'), url('../fonts/arial/BPGArialCaps2010.svg#BPGArialCaps2010') format('svg');
	font-weight: normal;
	font-style: normal;
	unicode-range: U+10D0-10F0;
}

@font-face {
	font-family:"dejavusanscondensdzj";
	src:url("../fonts/dejavusanscondensdzj/DejaVuSansCondensedZJ-Book.eot?") format("eot"),url("../fonts/dejavusanscondensdzj/DejaVuSansCondensedZJ-Book.woff") format("woff"),url("../fonts/dejavusanscondensdzj/DejaVuSansCondensedZJ-Book.ttf") format("truetype"),url("../fonts/dejavusanscondensdzj/DejaVuSansCondensedZJ-Book.svg#DejaVuSansCondensedZJ-Book") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: 'barial';
	src: url('../fonts/barial/bpg_arial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


