.swiper-slide {
  a {
    display: block;
    img {
      width: 100%;
    }
    .sl_img {
      height: 35vw;
      max-height: 600px;
      width: 100%;
      background-position: center top !important;
      background-size: cover !important;
    }
  }
}


.main-slots-area {
  &[data-count="4"] {
    .slot-card {
      .slot-card-hover {
        height: 15vw;
      }
    }
  }
  &[data-count="3"] {
    .slot-card {
      .slot-card-hover {
        height: 20vw;
      }
    }
  }
  &[data-count="2"] {
    .slot-card {
      .slot-card-hover {
        height: 22vw;
      }
    }
  }
  &[data-count="1"] {
    .slot-card {
      .slot-card-hover {
        height: 46vw;
      }
    }
  }
}


.main-casino-area {
  &[data-count="4"] {
    .slot-card {
      .slot-card-hover {
        height: 15vw;
      }
    }
  }
  &[data-count="3"] {
    .slot-card {
      .slot-card-hover {
        height: 20vw;
      }
    }
  }
  &[data-count="2"] {
    .slot-card {
      .slot-card-hover {
        height: 22vw;
      }
    }
  }
  &[data-count="1"] {
    .slot-card {
      .slot-card-hover {
        height: 46vw;
      }
    }
  }
}

.sp_cont {
  min-height: 300px;
  background-repeat: no-repeat !important;
  background-position: center !important;
}



// main top match widget

#top-matches-container {
  margin-top: 10px;
  .tm_header_arrows {
    position: relative;
    i {
      &:after {
        display: none;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      all:unset;
    }
  }
}

.slider {
  .swiper-button-prev,
  .swiper-button-next {
    opacity: .3;
    &:hover {
      opacity: 1;
    }
  }
  .swiper-pagination-bullets {
    bottom: 6vw;
    z-index: 999;
  }
}


@media only screen and (max-width: 768px) {
  .deposit-link{
    margin-left:20px
  }
}


// redizine

.slider {
  min-height: 30vw;
  .swiper-container {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      //height: 170px;
      height: 10vw;
      background: #151b29;
      //background: linear-gradient(0deg, #151b29 19%, rgba(9, 9, 121, 0) 100%, #00d4ff 100%);
      z-index: 99;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#151b29+0,151b29+100&0+0,1+94 */
      background: -moz-linear-gradient(top,  rgba(21,27,41,0) 0%, rgba(21,27,41,1) 85%, rgba(21,27,41,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(21,27,41,0) 0%,rgba(21,27,41,1) 85%,rgba(21,27,41,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(21,27,41,0) 0%,rgba(21,27,41,1) 85%,rgba(21,27,41,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00151b29', endColorstr='#151b29',GradientType=0 ); /* IE6-9 */

    }
  }
}

.widget_cont {
  position: relative;
  z-index: 9;
}
.for_widget {
  //background: #000000cc;
  background: #00000073;
  border-radius: 10px;
  margin-top: -7vw;
  padding-bottom: 6px;
  min-height: 288px;
  //background-image: url("../../assets/img/loader_sp_orange.gif");
}
#top-matches-container, #application-container {
  position: relative;

  .widget_loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: url("../../assets/img/loader_sp_orange.gif") no-repeat center;
    background-size: 100px;
    z-index: 999;
    min-height: 285px;
  }
}
#top-matches-container {
  .gTWNOX {
    background-color: #1b1c25 !important;
    &.jwJHTV {
      background-color: transparent !important;
      button {
        background-color: #1b1c25 !important;
      }
    }
  }
  .gbLoAb {
    background: #1f202c !important;
    border-bottom: 1px solid rgb(50 51 59) !important;
  }
  .ifyqcM {
    padding: 14px 16px !important;
  }
  .cQSaWH {
    width: 60px;
    height: 60px;
  }

  .tm_match_content {
    padding: 16px 12px 16px;
    .tm_match_odd {
      position: relative;
      height: 30px;
      span {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
      }
      span:first-child {
        position: absolute;
        bottom: 100%;
        color: var(--sport-digi-tp-odd-color);
      }

    }

    p[title]:empty {
      min-height: 10px;
      background: #32333b;
      display: inline-block;
      width: 70%;
      margin: 0 auto;
      margin-top: 20px;
    }

  }

}


.navbar .navbar-head .navbar-brand {
  height: 50px !important;
}
.navbar .navbar-head {
  padding: 10px 0 10px !important;
}
.authorization-interface {
  #signUp-btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
  }
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  padding: 10px 0;
  font-size: 16px;
}

.navbar .navbar-head {
  background-color: #1f202c;
}
.navbar .navbar-collapse {
  background-color: rgb(27 28 37);
}

.main {
  position: relative;
  z-index: 1;

  .wrapper {
    margin-top: -7vw;
  }
  .section-head, .promo-tabs {
    margin-top: 0;
  }
}

.main-slots-area {
  .swiper-button-prev {
    //position: absolute;
    //top: 50%;
    //transform: translateY(-50%);
    //width: 40px;
    //height: 50px;
    //background: #1f2c49;
    //opacity: 0.9;
    //z-index: 9;
    //cursor: pointer;
    //transition: all 0.15s linear;
    //padding: 17px 14px 18px 16px;
    //right: -20px;
  }
  .swiper-button-next {
    //display: none;
  }
}

// slots filter
.slot-custom-search {
  .search-input-content {
    display: flex;
    flex-direction: column;
    .prov_list {
      flex: 1;
      overflow-y: auto;
      margin-bottom: 10px;

      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0px 1px 5px 0px rgb(77 90 125);
      }
      &::-webkit-scrollbar-thumb {
        background-color: #8f9ec8;
      }
    }
    .clear-button {
      &:hover {
        background: #26304a;
        cursor: pointer;
      }
    }
  }

}

@media only screen and (max-width: 1000px) {
  .slider {
    .swiper-container{
      &:before {height: 10vw;}
      .swiper-pagination {
        display: none;
      }
    }
  }
}
@media (max-width: 800px) {
  .swiper-slide {
    .sl_img {
      height: 50vw !important;
    }

  }

}
// redizain


