@import url('https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css');


// @import './bootstrap/bootstrap.scss';
// import variables
@import 'variables';

// import components
@import './select2';
//@import './swiper.min';
@import './font-awesome';
@import './bootstrap';
@import './inputs'; 
@import './cards';
@import './navbar';
@import './buttons';
@import './carousels';
@import './section';
@import './pages';
@import './tabs';
@import './modals';
@import './account';
@import './footer';
@import './table';
@import './calendar';

@font-face {
    font-family: 'Proxima light';
    src: url("fonts/proximanovalight.otf");
}
@font-face {
    font-family: 'Proxima';
    src: url("fonts/proximanovaregular.otf");
    font-weight: 400;
}

@font-face {
    font-family: 'Proxima Regular';
    src: url('fonts/proximanovaregular.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Proxima Bold';
    src: url('fonts/proximanovabold.otf');
    font-weight: 600;
}


@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:200,300,400,500,600,700');


* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    padding: 0;
    margin: 0;
    font-family: $proxima;
    background-color: $theme-bg;
    &.hide {
        .navbar {
            @media(max-width: $md - 1) {
                display: none;
            }
        }
    }
}

a {
    text-decoration: none;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    height: fit-content;
    @media(min-width: $xl) {
        max-width: 1110px;
        padding: 0;
    }
}

.row {
    &.casino-list {
        margin-left: -4px;
        margin-right: -4px;
        & [class*="col-"] {
            padding-right: 4px;
            padding-left: 4px;
        }
        @media(min-width: $md) {
            margin-left: -6px;
            margin-right: -6px;
            & [class*="col-"] {
                padding-right: 6px;
                padding-left: 6px;
            }
        }
    }
    margin-left: -6px;
    margin-right: -6px;
    & .col {
        padding-right: 6px;
        padding-left: 6px;
    }
    & [class*="col-"] {
        padding-right: 6px;
        padding-left: 6px;
    }

    &.gx-0 {
        margin-left: 0;
        margin-right: 0;
        & [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.error-message {
    display: block;
    margin-top: 6px;
    padding-left: 16px;
    font-family: $proximaSemi;
    font-size: 12px;
    text-align: left;
    color: #b62752;
    line-height: 1;
}

.ln-auto {
    line-height: inherit;
}
.select2{
    display: flex;
    width: 100%;
    border-radius: 4px;
    background-color: #262e45;
    color: #8f9ec8;
    padding: 26px 16px 10px;
    height: 50px;
    border: none;
    font-family: "Proxima Regular", Helvetica;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    transition: all 0.15s linear;
}
.select-label{
    position: relative;
    label{
        position: absolute;
        top: 25%;
        left: 16px;
        transform: translateY(-50%);
        font-family: "Proxima Regular", Helvetica;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
        color: #8f9ec8;
        transition: all 0.15s linear;
    }


}
.input-label{
    label{
        top: 25%;
    }
}


.sl_nav {
    //background: #1d2434;
    background-color: #1d2329;
    //display: inline-block;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    flex-wrap: wrap;

    .sl_item{
        color: #abb3ca;
        padding: 0 10px;
        line-height: 50px;
        text-decoration: none;
        float: left;
        display: block;
        position: relative;
        text-transform: uppercase;
        font-size: 13px;
        &:hover {
            cursor: pointer;
            color: #fff;
        }
    }
    .sl_home {
        background: #191e23 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAApCAMAAABnXgszAAAA21BMVEUAAAAZHk1FHiMZPlxVPiMZHmNcHiMZPnFqPiMZPn8ZTH96PiN6TCMZHoYZPoaBHiMZTI0ZYpxqkaqmkXGerbGuppWuraOurbEZfsYZgsYZkc7DgiNcn9WBrdzTmyNVsONctOPaplzaqWPhuIaIxvGXzvGe1fHpu3jpwoaX1fim2Pim3Piu3Pi13/i85vjxxobxxo3xzpzx1aOm3P/D6v/D7f/M7f/42Kr43Kr43LH437j49Pj4+//x///4////1aP/3Kr/7cb/+/j///j////x///4//////H///89WmoAAAAARXRSTlMACgwaHCAkLjI8PEJCRERISlpobnB2dnaDg4uLk5mboaGhoamvr6+xsbW1tbW1tbm5ubm9vb29v7+/v7+/wcHHx8fHx8ciD8sfAAAAv0lEQVR42u3UBW7EAAxEUZc5ZeZ2mZkxOPe/0HI4di6QL7aeLB4KdP7weEpitx1gcCGJmzZW9YU/ykrYRhZA75gRLUA2SgWeuhHmrAzI5qSEQI2AOSoiVP2YEYw5KiCy2r4jMmCq2iINLr0qCNvkVmIvBcSYb8hpv9RETLOErFKHw5FItP9DooPPMU+0P9r0MWHJlHblWfJlkzeTIda7TV6NhESRFx/50WE3v7bJVRt2epbo7nnX06V3fu3rPS0BaxwLOCeq4KQAAAAASUVORK5CYII=") no-repeat center;
        width: 20px;
        //height: 20px;
        background-size: 20px;
        height: 50px;
        padding: 0 26px;

    }
}

.sl_filter {
    background-color: #202830;
    width: 100%;
    border-top: 1px solid #191e23;

    ul {
        padding:0;
        margin:0;
        list-style:none;
        //background: #1d2434;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        flex-wrap: wrap;
        li {
            display: flex;
            color: #a2a9b3;
            padding:10px;
            font-family: 'FiraGO', sans-serif;
            i {

                margin-left:10px;
                width:30px;
                height:30px;
                font-size:13px;
                background-color: #323b43;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius:50px;
                font-style:normal;
                line-height: 30px;

                &[data-like] {

                }
            }
        }
    }
}